@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Inter:wght@400;700&display=swap');

body {
    background-color: #F8FCFC;
    font-family: 'Inter', sans-serif;
}

/*cabeçalho*/   

#barra {
    position: absolute;
    width: 100%;
    height: 158px;
    left: 0px;
    top: 0px;
    background: #22A0A0;
}

#logo {
    position: absolute;
    width: 102px;
    height: 76px;
    left: 275px;
    top: 41px;
    background: url(Imagens/logob\ 2.png);
}

#container {
    position: relative;
    margin-left: 229px;
    width: 250px;
}

#container input {
    position: absolute;
    display: block;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 38px;
    left: 294px;
    top: 79px;
    background: #FFFFFF;
}

#container img {
    position: absolute;
    left: 514px;
    top: 83px;
}

nav#menu {
    display: block;
}
nav#menu a {
    color: #FFFFFF;
    text-decoration: none;
}

nav#menu ul {
    list-style: none;
    position: absolute;
    top: 67px;
    left: 817px;
}

nav#menu li {
    font-family: 'Dosis', sans-serif;
    font-size: 13.5pt;
    display: inline-block;
    color: #FFFFFF;
    padding: 5px;
}

nav#menu ul li:hover, nav#menu ul li.sublinhado{
    
    border-bottom: 2px solid #FFFFFF;
   
}

/* Corpo */
#interface {
    min-height: 1080px;
    color: black;
    width: 1200px;
    margin: auto;
    margin-top: -8px;   
}

header#cabecalho h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 16pt;
    height: 75px;
    max-width: 100%;
    margin-top: 205px;
    text-align: center;
}

#faixa1 {
    position: absolute;
    width: 100%;
    height: 266px;
    left: 0px;
    top: 250px;
    background: #DDF2F2;
}

#faixa1 img {
    position: absolute;
    left: 278px;
    top: 26px;
}

#faixa1 p {
    position: absolute;
    width: 239px;
    height: 110px;
    left: 824px;
    top: 43px;
    font-family: Inter;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

#faixa1 h3 {
    position: absolute;
    width: 66px;
    height: 15px;
    left: 1007px;
    top: 160px;
    font-family: Dosis;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
}

#faixa2 {
    position: absolute;
    width: 100%;
    height: 266px;
    left: 0px;
    top: 515px;
    background: #FFFFFF;
}

#faixa2 img {
    position: absolute;
    left: 565px;
    top: 27px;
}

#faixa2 p {
    position: absolute;
    width: 252px;
    height: 132px;
    left: 240px;
    top: 43px;
    font-family: Inter;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

#faixa2 h3{
    position: absolute;
    width: 66px;
    height: 15px;
    left: 448px;
    top: 182px;
    font-family: Dosis;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
}

#faixa3 {
    position: absolute;
    width: 100%;
    height: 266px;
    left: 1px;
    top: 781px;
    background: #DDF2F2;
}

#faixa3 img {
    position: absolute;
    left: 278px;
    top: 26px;
}

#faixa3 p {
    position: absolute;
    width: 259px;
    height: 110px;
    left: 804px;
    top: 43px;
    font-family: Inter;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

#faixa3 h3 {
    position: absolute;
    width: 66px;
    height: 15px;
    left: 1007px;
    top: 160px;
    font-family: Dosis;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
}

#faixa4 {
    position: absolute;
    width: 100%px;
    height: 266px;
    left: -2px;
    top: 1049px;
    background: #FFFFFF;
}

#faixa4 img {
    position: absolute;
    left: 565px;
    top: 22px;
}

#faixa4 p {
    position: absolute;
    width: 252px;
    height: 132px;
    left: 240px;
    top: 53px;
    font-family: Inter;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

#faixa4 h3{
    position: absolute;
    width: 66px;
    height: 15px;
    left: 448px;
    top: 175px;
    font-family: Dosis;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
}

/* Rodapé */

footer {
    position: absolute;
    width: 100%;
    height: 115px;
    left: 0px; 
    top: 1337px;
    margin-bottom: 0px;
    background: #22A0A0;
}

#informacao h4 {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 10.5pt;
    font-weight: 400px;
    left: 257px;
    top: -7px;
    padding: 6px;
    color: #FFFFFF;
    display: block;
    width: 300px;    
}

#informacao ul {
    list-style: none;
    position: relative;
    width: 200px;
    height: 20pt;
    left: 235px;
    top: -45px;
    float: left;    
}

#informacao li {
    font-family: 'Inter', sans-serif;
    font-size: 11.3pt;
    line-height: 17px;
    display: list-item;
    color: #FFFFFF;
    padding: 4px;
}

div#logo2 {
    position: absolute;
    width: 102px;
    height: 76px;
    left: 970px;
    top: 13px;
    background: url(Imagens/logob\ 2.png);
}